body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
}

#player {
    width: 300px;
    margin: 0 auto;
}

button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #555;
}

#player-progress {
    width: 100%;
}
